<footer style="background-color:#2E8A99; ">
    <div class="container mt-4" style="width: 900px;">
        <div class="row pt-4" >
            <div class="col-md-4">
                <h1 class="brand">StaySense</h1>
                <p class="mob-no">(+91) 123-456-7890</p>
                <p class="footer-text">StaySense@gmail.com</p>
                <p class="footer-text">pune, maharshtra</p>

                
  
            </div>
            <div class="col-md-4 mob-no">
                <p class="fs-4">Links</p>
                <ul  style="list-style: none; ">
                    <li><a href="/" class="footer-text" style="text-decoration: none; "><i class="fa-solid fa-caret-right me-2 "></i>Home</a></li>
                    <li><a href="/hotelIndex" class="footer-text" style="text-decoration: none; "><i class="fa-solid fa-caret-right me-2 "></i>Hotels</a></li>
                    <li><a href="#" class="footer-text" style="text-decoration: none; "><i class="fa-solid fa-caret-right me-2 "></i>Contact</a></li>
                    <li><a href="/register" class="footer-text" style="text-decoration: none; "><i class="fa-solid fa-caret-right me-2 "></i>Register</a></li>
                </ul>

            </div>
            <div class="col-md-4">
                <h1 class="mob-no fs-4">Subscribe to NewsLetter</h1>
                <p class="footer-text mb-4 mt-2">Subscribe to our newsletter to get notification about new updates.
                </p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter You Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" style="background-color: white; border-left: none; border-color: white;" type="button" id="button-addon2"><i class="fa-regular fa-paper-plane"></i></button>
                  </div>
                  

            </div>
        </div>
        <div>
            <div class="border-top">
                <div class="row mt-4 ">
                    <div class="col-12 col-md-8">
                        <div class="">
                            <p>
                                Copyright &copy;<script data-cfasync="false" src="/js/email-decode.min.js"></script>
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="">
                            <a href="#" class="me-4"><i class="fa fa-facebook" aria-hidden="true" style="font-size: 18px;"></i></a>
                            <a href="#" class="me-4"><i class="fa fa-twitter" aria-hidden="true" style="font-size: 18px;"></i></a>
                            <a href="#" class="me-4"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 18px;"></i></a>
                            <a href="#" class="me-4"><i class="fa fa-linkedin" aria-hidden="true" style="font-size: 18px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>