<%- include('../partials/header');-%>
<div class="container">


<div >
    <div class="text-center">
        <img src="https://e7.pngegg.com/pngimages/550/997/png-clipart-user-icon-foreigners-avatar-child-face.png" class="rounded-circle" alt="" srcset="" width="200px" height="200px">
    </div>
     <div class="mt-4 fs-5 fw-medium  " >
        <div class="d-flex align-items justify-content-center">
            <p class="fw-bold">Username : </p>
            <p> <%= user.username %></p>
        </div>
           <div class="d-flex align-items justify-content-center">
            <p class="fw-bold">Email :</p>
            <p> <%= user.email %></p>

           </div>
          
     </div>


</div>
</div>
















<%- include('../partials/footer');-%>
